@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  
  --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
}

@layer base {
  body {
    @apply font-display bg-background-light text-slate-900 antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
